.add-item-icon {
    background-color: #56f0f0;
    width: 28px;
    text-align: center;
    border-radius: 50%;
    height: 28px;
    color: white;
    padding-top: 7px;
    float: right;
    cursor: pointer;
}