<div class="panel panel-primary box">
    <div class="panel-body">
        <h4>Sales</h4>
        <div class="row">
            <div class="col-sm-3 sales_box">
                <span>Rs. {{today}}</span><br><br>
                <span>Today</span>
            </div>
            <div class="col-sm-3 sales_box">
                <span>Rs. {{thisMonth}}</span><br><br>
                <span>This Month</span>
            </div>
            <div class="col-sm-3 sales_box">
                <span>Rs. {{thisYear}}</span><br><br>
                <span>This Year</span>
            </div>
        </div>
    </div>
</div>
